textmining-1.0/*
textmining-1.0_v3/*
Folger/*
venv/*
*.pickle
*.csv

*.xml

*.iml

*.pyc

venv2/*
malware_heatmap.html
set
venv2/*
*.xml___jb_tmp___

zeus_binaries/*

php/*

JSP/*

JSP_and_PHP/*

ENV_DIR/*
*.html

*.pkl

shakespeare_duck/*

*.log

PEFILE_Scripts/output/*

